.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.closed{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  background: #c5c5c5;
}

.opened{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.board{
  width: 300px;
  margin: auto;
}

.item{
  position: relative;
}

.item::after{
  content: 'X';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
